#whole_profile_div {
    width: 95%;
    margin-left: 5%;
    padding-top: 5%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.Prof_sec_div1 {
    border: 1px solid red;
    width: 925px;
    /* height: 100%; */
    height: 300px;
    border-radius: 15px;
}

.Prof_details {
    background-color: #313137;
    height: 67px;
    border-radius: 15px 15px 0 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
}

.Prof_com_div {
    /* border: 2px solid red; */
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}

.Prof_com_div1,
.Prof_com_div2,
.Prof_com_div3 {
    border: 1px solid rgb(233, 207, 35);
    min-height: 100px;
    width: 33.33%;
}