.UpTranspass_main_div {
    width: 1350px;
    margin-top: 25px;
    box-sizing: border-box;
}

.Tran_extrainfo_div {
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 25px;
}

.Tran_Before_up {
    text-align: center;
    padding-bottom: 10px;
}

.Tran_exinfo_ul_div {
    font-size: 22px;
    padding-left: 35px;
}

.Tran_seecond_main_div {
    background-color: white;
    /* height: 200px; */
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.radio-input-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red; */
}

.label {
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 14px 16px;
    cursor: pointer;
    transition: .3s;
    /* border: 1px solid red; */
    font-size: 22px;
    font-weight: 600;
    gap: 20px;
}

.label:hover,
.label:focus-within,
.label:active {
    background: hsl(0deg 0% 90.7% / 67%);
}

.radio-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.radio-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background: rgb(112, 41, 48);
    background: -moz-linear-gradient(324deg, rgba(112, 41, 48, 1) 0%, rgba(225, 44, 107, 1) 43%);
    background: -webkit-linear-gradient(324deg, rgba(112, 41, 48, 1) 0%, rgba(225, 44, 107, 1) 43%);
    background: linear-gradient(324deg, rgba(112, 41, 48, 1) 0%, rgba(225, 44, 107, 1) 43%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#702930", endColorstr="#e12c6b", GradientType=1);
    position: relative;
}

.radio-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
}

.radio-input:checked+.radio-design::before {
    transform: scale(0);
}

.new-component-container{
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 15px;
    background-color: white;
}